<section class="footer">
    <div class="container">
        <footer class="pt-5">
    
            <div class="row align-items-start">
                <div class="col mb-3">
                <h5> Vida Pet</h5>
                <p>
                    Cada vida importa e juntos podemos mais.
                    Abrace essa causa e faça a diferença na vida dos nossos amigos peludos
                    e ajude a escrever um final feliz para cada história.
                </p>
                </div>
        
                <div class="col mb-3">
                <h5>Contato</h5>
                <ul class="nav flex-column">
                    <p><i class="bi bi-house-door" style="color:#3a54b4;"></i> Rua zero um, BH/MG</p>
                    <p><i class="bi bi-envelope" style="color:#3a54b4;"></i> infoexample.com</p>
                    <p><i class="bi bi-telephone" style="color:#3a54b4;"></i> (31)00000-0000</p>    
                </ul>
                </div>
        
                <div class="col mb-3">
                    <h5>Follow Us</h5>
                <ul class="nav flex-column">
                    <li class="ms-3"><a class="link-dark" href="https://www.instagram.com" target="_blank"> <i class="bi bi-instagram social-icon" style="font-size: 22px;"></i>  </a></li>
                    <li class="ms-3"><a class="link-dark" href="https://www.facebook.com"  target="_blank"> <i class="bi bi-facebook social-icon"  style="font-size: 22px;"></i>  </a></li>
                    <li class="ms-3"><a class="link-dark" href="https://twitter.com"       target="_blank"> <i class="bi bi-twitter-x social-icon" style="font-size: 22px;"></i>  </a></li>
                </ul>
                </div>
        
                <div class="col mb-3 col-md-4">
                <form>
                    <h5>Newsletter</h5>
                    <p>Assine a Newsletter para Receba as Últimas Atualizações</p>
                    <div class="d-flex w-100 gap-2">
                    <input id="newsletter1" type="text" class="form-control" placeholder="Digite Seu Email">
                    <button class="btn btn-primary btn-newsletter" type="button">Inscrever-se</button>
                    </div>
                </form>
                </div>
                
            </div>
        
            <div class="d-flex flex-column flex-sm-row py-3 my-4 border-top link-secondary border-top justify-content-center">
                <p>Copyright © 2024 All rights reserved | This template is made with <i class="bi bi-heart-fill" style="color:#ffcccc"></i> By Grasiele Tinoco</p>
                <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-secondary" href="https://github.com/grasieletinoco" target="_blank"> <i class="bi bi-github social-icon"></i> </a></li>
                <li class="ms-3"><a class="link-secondary" href="https://www.linkedin.com/in/grasieletinoco/" target="_blank"> <i class="bi bi-linkedin social-icon"></i> </a></li>
                </ul>
            </div>
    
        </footer>
    </div>

</section>
