<section class="missao-visao-valores">
  
  <div class="px-4 py-5 missao-visao-valores-conteudo">
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      
      <div class="feature col missao-visao-valores-card">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="../../../assets/icons/icon-mission.svg" alt="Missão">
        </div>
        <h3 class="fs-2">Missão</h3>
        <p>Resgatar e proteger animais vulneráveis, fornecendo-lhes cuidados dedicados e promovendo a conscientização sobre a importância do respeito e compaixão por todas as formas de vida.</p>
      </div>
        
      <div class="feature col missao-visao-valores-card">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="../../../assets/icons/icon-vision.svg" alt="Visão">
        </div>
        <h3 class="fs-2">Visão</h3>
        <p>Almejamos um mundo onde a coexistência pacífica entre humanos e animais seja uma realidade, onde cada ser vivo seja valorizado e protegido com amor e compaixão.</p>
      </div>
        
      <div class="feature col missao-visao-valores-card">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
          <img src="../../../assets/icons/icon-value.svg" alt="Valores">
        </div>
        <h3 class="fs-2">Valores</h3>
        <p>Respeito, Solidariedade, Comprometimento com o bem-estar animal, Ética, Compaixão, Empatia, Respeito pela vida e Transparência em todas as nossas atividades e interações.</p>
      </div>
     
    </div>
  
  </div> 
</section>
