<app-navbar></app-navbar>

<section class="sobre-nos">
    <h2>Quem Somos: Vida Pet - Unindo Corações por uma Causa</h2>
    <div class="row justify-content-center align-items-center sobre-nos-conteudo">
        <div class="col-md-6">
            <div class="sobre-nos-cards-img">
                <img src="../../../assets/img-sobre-nos.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="sobre-nos-cards-texto pt-4">
                <p>Na <span style="color: #3a54b4;font-weight: bold;">VIDA PET</span>, somos apaixonados por ajudar nossos amigos de quatro patas a terem vidas melhores. Como uma organização sem fins lucrativos dedicada ao bem-estar animal, trabalhamos incansavelmente para fornecer cuidados, abrigo e amor a animais abandonados, perdidos ou em situações de risco.</p>
                <p>Nossa jornada começou com um grupo comprometido que se uniu para fazer a diferença em suas comunidades. Ao longo dos anos, crescemos para nos tornar uma organização respeitada, reconhecida por nosso compromisso inabalável com o bem-estar animal.</p>
                <p>Nossa missão é promover o amor, o respeito e a compaixão por todos os seres vivos. Acreditamos que todos os animais merecem encontrar um lar amoroso, viver com dignidade e receber os cuidados necessários para uma vida feliz e saudável. Com uma equipe de apaixonados e dedicados, incluindo veterinários, cuidadores e defensores dos direitos dos animais, trabalhamos juntos para garantir que cada animal receba o amor e a atenção que merece.</p>
                <p>Junte-se a nós nesta jornada de compaixão, esperança e amor pelos animais!</p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
