@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --blue:#3a54b4;
    --light-blue:#9fc7c7;
    --orange:#ff6e5d;
    --light-orange:#f7efe2;
    --gray:#e6e6e6;
    --light-gray:#F5F5F5;
}