<section class="quero-ajudar p-5">
    <h2>Quero Ajudar: Faça a Diferença na Vida dos Animais</h2>
    <p> Todas as formas de ajuda são muito importantes! Na <span style="color: #3a54b4;font-weight: bold;">VIDA PET</span>, acreditamos que cada gesto de bondade é uma luz brilhante no caminho dos animais que tanto precisam.</p>
  
    <div class="quero-ajudar-conteudo">
      <h5>Por que ajudar?</h5>
      <p>Os animais são seres incríveis que compartilham conosco este planeta. Infelizmente, muitos deles enfrentam desafios imensos, desde o abandono até a crueldade. Por isso, sua ajuda é essencial. Cada contribuição, seja ela financeira, de tempo ou de recursos, é uma oportunidade de transformar vidas.</p>
    </div>
  
    <div class="quero-ajudar-conteudo">
      <h5>Como posso ajudar?</h5>
      <ol>
        <li><span style="font-weight: bold;">Doações Financeiras:</span> Seja uma doação única ou mensal, cada contribuição financeira é uma esperança renovada para os animais em situação de vulnerabilidade. Com sua ajuda, podemos oferecer abrigo, alimentação, cuidados médicos e amor a cada um deles.</li>
        <li><span style="font-weight: bold;">Voluntariado:</span> Se você tem tempo e disposição, junte-se a nós como voluntário! Desde passeios com os cães até atividades de limpeza e cuidados diários, há sempre algo a fazer para melhorar o bem-estar dos nossos amigos peludos.</li>
        <li><span style="font-weight: bold;">Adoção Responsável:</span> Se você está pensando em expandir sua família com um novo membro peludo, considere a adoção! Temos uma variedade de animais aguardando por um lar amoroso. Ao adotar, você não só muda a vida de um animal, mas também abre espaço para que possamos resgatar mais daqueles que precisam.</li>
        <li><span style="font-weight: bold;">Compartilhe nossa Causa:</span> A conscientização é uma ferramenta poderosa. Compartilhe nossas histórias, eventos e campanhas nas redes sociais. Quanto mais pessoas souberem sobre nossa missão, maior será nosso impacto.</li>
      </ol>
    </div>
  
    <div class="quero-ajudar-conteudo">
      <h5>Faça parte desta jornada!</h5>
      <p>Queremos que você se sinta parte desta jornada de amor e compaixão pelos animais. Juntos, podemos fazer grandes coisas. Cada gesto de solidariedade é um passo em direção a um mundo onde todos os seres vivos são respeitados e protegidos.</p>
    </div>
  
    <div class="quero-ajudar-conteudo">
      <h5>Quer Ajudar? Entre em Contato!</h5>
      <p>Se você está pronto para fazer parte desta causa e ajudar os animais em necessidade, não hesite em entrar em contato conosco. Estamos aqui para responder a todas as suas perguntas, fornecer mais informações sobre como você pode ajudar e orientá-lo em cada passo do processo.</p>
      <p>Clique no botão abaixo para ser redirecionado para nossa página de contato. Estamos ansiosos para ouvir de você!</p>
      <button type="button" class="btn btn-outline-primary" routerLink="contato">Quero Ajudar</button>
    </div>
  
</section>
