<section class="card-adocao">
  
  <h2>Procurando por um amigo de quatro patas?</h2>
  
  <div class="row card-adocao-conteudo">
    
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card-dog">
        <div class="card-body">
          <h5 class="card-title">Cachorros para Adoção</h5>
          <p>Conheça nossos adoráveis cãezinhos prontos para encher sua vida de alegria e amor incondicional. Adote hoje e ganhe um companheiro para todas as aventuras da vida!</p>
          <a class="btn btn-primary" routerLink="cachorro">Quero Adotar</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6">
      <div class="card-cat">
        <div class="card-body">
          <h5 class="card-title">Gatos para Adoção</h5>
          <p>Conheça nossos adoráveis gatinhos prontos para encher sua vida de alegria e amor incondicional. Adote hoje e ganhe um companheiro para todas as aventuras da vida!</p>
          <a class="btn btn-primary" routerLink="gato">Quero Adotar</a>
        </div>
      </div>
    </div>
  
  </div>
  
</section>
